
<header class="navbar navbar-expand-lg navbar-light bg-light" style="user-select: auto;;" id ="header">
  <a class="navbar-brand" href="/" style="user-select: auto;">H.T.DoIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="user-select: auto;">
    <span class="navbar-toggler-icon" style="user-select: auto;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03" style="user-select: auto;">
    <ul class="navbar-nav mr-auto" style="user-select: auto;">
      <li class="nav-item active" style="user-select: auto;">
        <a class="nav-link" href="/" style="user-select: auto;">Home</a>
        <span class="sr-only" style="user-select: auto;">(current)</span>
        </a>
      </li>
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" href="/training" style="user-select: auto;">Training</a>
      </li>  
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" href="#" style="user-select: auto;">Review</a>
      </li>
      <% if (locals.username) { %>
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" href="/room" style="user-select: auto;">My Trainingroom</a>
      </li>
      <li class="nav-item" style="user-select: auto;">
        <a class="nav-link" href="#" style="user-select: auto;">My Statue</a>
      </li>
      <% } %>
    </ul>

    <% if (locals.username) { %>
    <ul class="form-inline my-2 my-lg-0" style="user-select: auto;">
      <li class="form-item" style="user-select: auto;">
        <a class="btn login" href="myacount" style="user-select: auto;"><%= username %> MyAccount</a>
      </li>
      <li class="form-item" style="user-select: auto;">
        <a class="btn signup" href="logout" style="user-select: auto;">logout</a>
      </li>
    </ul>  
    <% } else { %>
    <ul class="form-inline my-2 my-lg-0" style="user-select: auto;">
      <li class="form-item" style="user-select: auto;">
        <a class="btn login" href="/login" style="user-select: auto;">login</a>
      </li>
      <li class="form-item" style="user-select: auto;">
        <a class="btn signup" href="/signup" style="user-select: auto;">signup</a>
      </li>
    </ul>
    <% } %>

    <!--form class="form-inline my-2 my-lg-0" style="user-select: auto;">
        <button class="btn login" href="login" style="user-select: auto;">login</button>
        <button class="btn signup" type="submit" style="user-select: auto;">signup</button>
      </form-->
  </div>
</header>