
<header class="navbar navbar-expand-lg navbar-light bg-light" id ="header">
  <a class="navbar-brand" href="/">H.T.DoIt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
        <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/training">Training</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/review">Review</a>
      </li>
      <% if (locals.username) { %>
      <li class="nav-item">
        <a class="nav-link" href="/room">My Trainingroom</a>
      </li>
      <% } %>
    </ul>

    <% if (locals.username) { %>
    <ul class="form-inline my-2 my-lg-0">
      <li class="form-item">
        <div class="btn login"><%= username %> MyAccount</div>
      </li>
      <li class="form-item">
        <a class="btn signup" href="/logout">logout</a>
      </li>
    </ul>  
    <% } else { %>
    <ul class="form-inline my-2 my-lg-0">
      <li class="form-item">
        <a class="btn login" href="/login">login</a>
      </li>
      <li class="form-item">
        <a class="btn signup" href="/signup">signup</a>
      </li>
    </ul>
    <% } %>

  </div>
</header>