<nav class="navbar navbar-expand-lg navbar-light bg-light" style="user-select: auto;">
    <a class="navbar-brand" href="#" style="user-select: auto;">H.T.DoIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="user-select: auto;">
      <span class="navbar-toggler-icon" style="user-select: auto;"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03" style="user-select: auto;">
      <ul class="navbar-nav mr-auto" style="user-select: auto;">
        <li class="nav-item active" style="user-select: auto;">
          <a class="nav-link" href="#" style="user-select: auto;">Home</a>
            <span class="sr-only" style="user-select: auto;">(current)</span>
          </a>
        </li>
        <li class="nav-item" style="user-select: auto;">
          <a class="nav-link" href="#" style="user-select: auto;">Training</a>
        </li>
        <li class="nav-item" style="user-select: auto;">
          <a class="nav-link" href="#" style="user-select: auto;">My Classroom</a>
        </li>
        <li class="nav-item" style="user-select: auto;">
          <a class="nav-link" href="#" style="user-select: auto;">My Statue</a>
        </li>
        <li class="nav-item" style="user-select: auto;">
            <a class="nav-link" href="#" style="user-select: auto;">Review</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" style="user-select: auto;">
        <button class="btn login" type="submit" style="user-select: auto;">login</button>
        <button class="btn signup" type="submit" style="user-select: auto;">signup</button>
      </form>
    </div>
  </nav>