<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  
  <title>H.T.DoIt</title>

  <style>
    .jumbotron{
      text-align: center;
    }
    .display-3{
      margin-top: 50px;
      font-weight: bold;
    }

    #footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
	text-align: center;
  color: gray;
  font-size: 12px;
}
  </style>
</head>
<body>
  <%- include ./partials/header %>
  <div class="jumbotron" style="user-select: auto;">
    <h1 class="display-3" style="user-select: auto;">H.T.DoIt</h1>
    <p class="lead" style="user-select: auto;">헬스장 말고 집에서도 운동을 즐기세요! 홈트두잇이 여러분의 운동을 도와드립니다.<br>지금 바로 시작하세요</p>
    <hr class="my-4" style="user-select: auto;">
    <p style="user-select: auto;">you can do it!</p>
    <p class="lead" style="user-select: auto;">
      <a class="btn btn-primary btn-lg" href="#" role="button" style="user-select: auto;">시작하기</a>
    </p>
  </div>
  <%- include ./partials/footer %>
</body>
</html>