<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<title>H.T.DoIt</title>

</head>
<body>
    <canvas id="myChart" width="400" height="300"></canvas>
    <button id="sendAjax">button</button>
    <script type="text/javascript">
    var data = {
    labels: [
        "0", "0", "0", "0", "0", "0", "0"
    ],
    datasets: [
        {
            label: 'Count',
            data: [
                1, 2, 3, 4, 5, 6, 7
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }
    ]
};

var options = {
    animation: {
        animateScale: true
    },
    responsive: false,
    scales: {
        yAxes: [
            {
                ticks: {
                    beginAtZero: true
                }
            }
        ]
    }
};

var ctx = document.getElementById("myChart").getContext('2d');
var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: data,
    options: options
});

var button = document.getElementById("sendAjax")

button.addEventListener("click", function() {
    sendAjax('/test');
})

function sendAjax(url) {
    var oReq = new XMLHttpRequest();;
    oReq.open('POST', url);
    oReq.setRequestHeader('Content-Type', "application/json") // json 형태로 보낸다
    oReq.send();

    oReq.addEventListener('load', function() {
        var result = JSON.parse(oReq.responseText);
        var count = result.count;
        var trainingdate = result.trainingdate;
        var comp_data = data.datasets[0].data;
        var date_data = data.labels;

        for (var i = 0; i < comp_data.length; i++) {
            comp_data[i] = count[i];
        }

        for (var i = 0; i < date_data.length; i++){
            date_data[i] = trainingdate[i];
        }

        data.datasets[0].data = comp_data;
        data.labels = date_data;
        myBarChart.update();
    })
}
    </script>
</body>
</html>