#header{
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}

/*header*/
.navbar-brand{
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
}

/*header*/
.form-item{
  list-style-type: none;
}


/*#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
	text-align: center;
  color: gray;
  font-size: 12px;
}*/
