.navbar-brand{
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
}

.jumbotron{
  text-align: center;
}

#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
	text-align: center;
  color: gray;
  font-size: 12px;
}