<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/stylesheets/form.css" type="text/css">
</head>

<body>
    <% include ../partials/header %>
    <div class="form-wrap">
        <div class="form-html">
            <input id="tab-1" type="radio" name="tab" class="title" checked><label for="tab-1" class="tab">Sign up</label>
            <% if(locals.signup == "existuser") { %>
                <p style="color:red">이미 존재하는 아이디입니다.</p>
            <% } else if(locals.signup == "enteruser") { %>
                <p style="color:aqua">정보를 입력하세요.</p>
            <% } else if(locals.signup == "passerror") {%>
                <p style="color:red">비밀먼호가 일치하지 않습니다.</p>
            <% } %>
            <form class="form" action="/signup" method="post">
                <div class="group">
                    <label for="pass" class="label">Id</label>
                    <input type="text" name="id" id="pass" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input type="password" name="password" id="pass"class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Repeat Password</label>
                    <input type="password" name="password2" id="pass" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input type="text" name="username" id="user" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="signupbutton" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>