<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <title>H.T.DoIt</title>
<style>
  /* 사이드바 래퍼 스타일 */
  #training{
    pointer-events: none;
    cursor: default;
  }


  #page-wrapper {
    padding-left: 250px;
    margin-top:30px;
    width:102%;
    margin-left:-1%
  }
  
  #sidebar-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    margin-top: -10px;
    margin-left: -250px;
    background: #000;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 20px;
  }
  /* 사이드바 스타일 */
  
  .sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    padding-right: 25px;
    text-align: center;
    list-style: none;
  }
  
  .sidebar-nav li {
    text-indent: 1.5em;
    line-height: 2.8em;
  }
  
  .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
  }
  
  .sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-nav > .sidebar-brand {
    font-size: 1.3em;
    line-height: 3em;
  }

  #footer{
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
	text-align: center;
  color: gray;
  font-size: 12px;
}

#player-container {
      width: 70vw;
      height: 39.375vw;
      max-width: 800px;
      display: block;
      max-height: 434.8125px;
      margin: 10px auto;
}

#main{
  text-align: center;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
}


</style>
</head>
<body>
    <% include ../partials/header %>
<main>

<div id="page-wrapper">
  <!-- 사이드바 -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#" id=training>Training</a>
      </li>
      <li><a href="/training/all/1">전체</a></li>
      <li><a href="/training/advanced/1">고급</a></li>
      <li><a href="/training/intermediate/1">중급</a></li>
      <li><a href="/training/basic/1">초급</a></li>
    </ul>
  </div>
  <!-- /사이드바 -->

  <div class="card mb-3" style="z-index: 1;" id="main">
    <h3 class="card-header">TRAINING</h3>
    <div class="card-body">
      <h5 class="card-title"><%=model.traindetail[0].title%></h5>
    </div>
    <div id="player-container" style="z-index: 2;">
    <iframe width="672" height="378" src="https://www.youtube.com/embed/<%=model.traindetail[0].vid%>" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <p class="card-text"><%=model.traindetail[0].des%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">운동순서</li>
      <li class="list-group-item">1</li>
      <li class="list-group-item">2</li>
    </ul>
    <div class="card-body">
      <p class="card-link">유튜브 원본보기</p>
      <a href="#" class="card-link">Youtube link</a>
    </div>
    <div class="card-footer text-muted">
      3
    </div>
  </div>
 </div>
</main>
<% include ../partials/footer %>
</body>
</html>
